{% extends 'base.html.twig' %}

{% block title %}Klienci{% endblock %}

{% block body %}
    <style>
        .oneline{
            width: 100%;
        }
        .oneline2{
            display: inline-block;
        }
    </style>
    <h1>Klienci</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ klienci.id }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ klienci.Imie }}</td>
            </tr>
            <tr>
                <th>Rodzaj Usługi</th>
                <td>{{ klienci.RodzajUslugi }}</td>
            </tr>
            <tr>
                <th>DataGodzina</th>
                <td>{{ klienci.DataGodzina ? klienci.DataGodzina|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NumerTelefonu</th>
                <td>{{ klienci.NumerTelefonu }}</td>
            </tr>
        </tbody>
    </table>
<div class="oneline">
    <div class="oneline2"> <a class="btn btn-primary" href="{{ path('app_klienci_index')}}" role="button">Wróć do listy</a> </div>
        <div class="oneline2"><a class="btn btn-danger" href="{{ path('app_klienci_edit', {'id': klienci.id}) }}" role="button">Edytuj</a> </div>

            <div class="oneline2"> {{ include('klienci/_delete_form.html.twig') }} </div>
</div>

{% endblock %}
